<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="task_form">
        <%= render 'shared/task_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Todo リスト</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="home">
    <div class="center jumbotron">
      <h1>Todoアプリへようこそ</h1>
      <p>
       新しい1日を始めましょう
      </p>
      <%= link_to "新規登録はこちらから", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <!--%= link_to image_tag("rails.png", alt: "Todo logo"),"#" %-->
<% end %>
